<h1>Edit Pizza</h1>
{% if note %}
    <h2>{{ note }}</h2>
{% endif %}
<form action="{% url 'edit_order' pizza.id %}" method="POST">
{% csrf_token %}
{{pizzaform}}
<input type="submit" value="Edit Pizza">
</form>